fastapi[all]
uvicorn
ollama
langchain
langchain-ollama
langchain-community
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
python-dotenv
marker-pdf[full]
speechrecognition
pydub
unstructured
markdown
sounddevice
torchvision
Authlib